* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  height: 50%;
  padding-top: 96px;
  padding-bottom: 96px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 4px solid hsl(0deg, 0%, 40%);
  height: 50%;
  padding-top: 96px;
  padding-bottom: 96px;
}

.max-width-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.intro-chunk {
  padding: 16px;
  padding-right: 200px;
}

.card {
  background-color: white;
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
  padding: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Add styles here! */
